[Desktop Entry]

# REQUIRED [String] The name of the application
Name=

# [String] A comment which can/will be used as a tooltip
Comment=

# [String/path] The path to the folder in which the executable is run
Path=

# [String/path] The executable of the application, possibly with arguments.
Exec=

# [String/path] The name of the icon that will be used to display this entry
Icon=

# [String/semicolon-delimited] Describes the categories in which this entry should be shown in a menu
Categories=

###############################
#  DEFAULT FIELDS             #
###############################

# The version of the desktop entry specification to which this file complies
Version=1.5

# REQUIRED [String] Specifies the type of item. This value is one of the following:
#   - Application: An item that starts an application.
#   - Link: An item that links to a file, folder, or a remote resource (such as a FTP site, a web page, a Windows share...). SEE ALSO: URL
#   - FSDevice: An item that is a file system device.
#   - Directory: An item that is a Directory.
Type=Application

# [Boolean] Describes whether this application needs to be run in a terminal or not
Terminal=false

###############################
#  ADDITIONAL OPTIONAL FIELDS #
###############################

# NOTE: The `Encoding` key is deprecated.

# [String] A generic name of the application if helpful, like "Web Browser" for Firefox
#GenericName=

# [String] A list of strings which may be used in addition to other metadata to describe this entry. This can be useful e.g. to facilitate searching through entries. The values are not meant for display, and should not be redundant with the values of Name or GenericName. 
#Keywords=

# [Boolean] NoDisplay means "this application exists, but don't display it in the menus". This can be useful to e.g. associate this application with MIME types, so that it gets launched from a file manager (or other apps), without having a menu entry for it (there are tons of good reasons for this, including e.g. the netscape -remote, or kfmclient openURL kind of stuff).
#NoDisplay=

# [String/path] Path to an executable file on disk used to determine if the program is actually installed. If the path is not an absolute path, the file is looked up in the $PATH environment variable. If the file is not present or if it is not executable, the entry may be ignored (not be used in menus, for example). 
# TryExec=

# [String/semicolon-delimited] The MIME type(s) supported by this application
#MimeType=

# [String] If entry is Link type, the URL to access. REQUIRED if Link type.
#URL=

# [Boolean] If true, the application has a single main window, and does not support having an additional one opened. This key is used to signal to the implementation to avoid offering a UI to launch another window of the app. This key is only a hint and support might not be present depending on the implementation. 
#SingleMainWindow=

# [Boolean] If true, the application prefers to be run on a more powerful discrete GPU if available, which we describe as “a GPU other than the default one” in this spec to avoid the need to define what a discrete GPU is and in which cases it might be considered more powerful than the default GPU. This key is only a hint and support might not be present depending on the implementation. 
#PrefersNonDefaultGPU=

###############################
# DOCUMENTATION               #
###############################

# https://specifications.freedesktop.org/desktop-entry-spec/latest/

# The value types recognized are string, localestring, boolean, and numeric.
#   - Values of type string may contain all ASCII characters except for control characters.
#   - Values of type localestring are user displayable, and are encoded in UTF-8.
#   - Values of type boolean must either be the string true or false.
#   - Values of type numeric must be a valid floating point number as recognized by the %f specifier for scanf in the C locale. 
